# GCP
gcp_python_client_functions
bigframes
google-cloud-aiplatform
google-cloud-storage

# Data Science
pandas
numpy
matplotlib
seaborn
scikit-learn
tensorflow

# Dev environment
ipykernel
python-dotenv

# KFP 2
protobuf
kfp
pytz

# Deployment
flask
gunicorn